.header_wrapper {
  background-color: black;
  display: flex;
  align-items: center;
  height: 72px;
  position: relative;
  z-index: 30;
  border-bottom: 1px solid #181616;
}

.header_inner_content {
  width: 100%;
  max-width: 1080px;
}

.navbar_links .navlink {
  font-size: 14px;
  line-height: 26px;
  padding: 0px 16px;
  letter-spacing: -0.38px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  overflow: hidden;
  flex-wrap: nowrap;
  color: #adadad;
  transition: all 0.4s ease-in-out;
}

.navbar_links .navlink:hover {
  color: #ffffff;
}

.joinBeta_btn button {
  color: #D6D7D6;
  width: 109.44px;
  border-style: solid;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 80px;
  font-family: 'Manrope';
  font-weight: 600;
  transition: all 0.4s ease-in-out;
  font-size: 13.4px;
  padding-top: 2px;
}

.joinBeta_btn button:hover {
  color: #ffffff;
   border: 1px solid rgba(255, 255, 255, 0.6);
   color: #D6D7D6;
   opacity: 1;
}
.hero_joinBeta_btn_white_bg button {
  background-color: rgb(235, 235, 235);
  color: #000;
  height: 40px;
  width: 121.9px;
  display: flex;
  align-items: center;
  line-height: 20px;
  justify-content: center;
  font-style: normal;
  gap: 7px;
  font-size: 14px;
  white-space: nowrap;
  font-family: 'Manrope';
  align-items: center;
  padding: 0px 19px;
  font-weight: 600 !important;
  border-radius: 700px;
  opacity: 1;
    --border-style: solid;
    border-radius: 800px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px 0px;
    letter-spacing: 0.2px;  

}
.mobile-menu-button {
  cursor: pointer;
  z-index: 60;
}

.joinBeta_btn_mobile {
  color: #ffffff;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 80px;
  opacity: 0.85;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  font-size: 14.4px;
  background: transparent;
}

.joinBeta_btn_mobile:hover {
  border: 1px solid rgba(255, 255, 255, 0.6);
  opacity: 1;
}
/* **********hero section ************** */
.hero_section_main {
  width: 100%;
  background-color: #000;
  position: relative;
  height: 100%;
}
.textContent_section {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 40px;
  height: 500px;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
  max-width: 871px;
  margin: auto;
  z-index: 20;
}
.textContent_section h1 {
    font-style: normal;
    max-width: 880px;
}
.textContent_section p {
    max-width: 588px;
}

.hero_joinBeta_btn button {
   color: #adadad;
  padding: 0px 15.5px;
  width: 160.63px;
  opacity: 0.6;
  height: 35.8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  opacity: 0.85;
  font-weight: 500 !important;
  transition: all 0.4s ease-in-out;
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
  line-height: 20px;
  letter-spacing: -0.3px;

}
.hero_joinBeta_btn button:hover {
 
}
/****** trusted partner ******  */
.trading_trusted_partner{
    position: relative;
    width: 100%;
}
.trading_indexBgImg{
    box-shadow: rgba(233, 228, 230, 0.2) -10px -7px 50px -9px;
    width: 100%;
    max-width: 1032px;
    margin: auto;
    object-fit: cover;    
}
.trusted_partner_list{
     position: relative;
    top: 10%;
    left: 0%;
    right: 0%;
    margin-top: -22%;
}

.tradingIndex_trusted_partner{
 font-family: "Manrope";
  text-align: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  display: flex;
  padding: 80px 0px;
  gap: 24px;
}
.trusted_partner_text {
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}
/* ************ platform *************** */
.platform_wrapper{
  position: relative;
  width: 100%;
  
}
.platform_header_content{
     align-content: center;
    align-items: center;
    display: grid;
    gap: 24px;
    justify-content: center;
    overflow: visible;
    padding: 80px 0;
    position: relative;
    width: 100%;
    max-width: 1200px;
    color: white;
    overflow: visible;
    margin: auto;
    position: relative;
}
.platform_card_wrapper{
  width: 100%;
  position: relative;
}
.platform_cards{
  max-width: 1080px;
  margin: auto;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.platform_left_card{
 width: 100%;
  max-width: 526px;
  height: 646px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 30px;
  padding: 64px 54px;
  border-radius: 16px;
  color: aliceblue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 1px solid #332c2c;
}

.platform_left_card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px; 
  border-radius: 16px 16px 0 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.platform_right_card{
 width: 100%;
  max-width: 526px;
  height: 646px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 30px;
  padding: 64px 54px;
  border-radius: 16px;
  color: aliceblue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 1px solid #332c2c;
}
.platform_right_card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px; 
  border-radius: 16px 16px 0 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.platform_card_content{
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 6px;

}
.flatform_inner_content{
  border-radius: 16px 16px 0 0;
  padding: 32px 20px 0px 20px;
  border: 1px solid rgb(54, 50, 50);
  position: relative;
  width: 442px;
  transition: all 0.4s ease-in-out;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 4px 10px rgba(255, 200, 0, 0.12);
  overflow: hidden;
}

.flatform_inner_content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30%;
  width: 40%;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 165, 0, 0.9),
    rgba(255, 215, 0, 0.9),
    transparent
  );
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}

.flatform_inner_content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 20%;
  width: 50%;
  height: 12px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 165, 0, 0.3),
    rgba(255, 215, 0, 0.3),
    transparent
  );
  filter: blur(6px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

/* hover state */
.flatform_inner_content:hover::before {
  width: 70%;
  left: 15%;
  opacity: 1;
}

.flatform_inner_content:hover::after {
  width: 70%;
  left: 15%;
  opacity: 1;
}

.flatform_inner_content:hover {
  box-shadow: inset 0 2px 6px rgba(255, 200, 0, 0.08);
}

/* right side inner content */
.flatform_RightSide_inner_content{
  border-radius: 16px 16px 0 0 ;
  padding: 20px 20px 0px 20px;
  border: 1px solid rgb(54, 50, 50);
  position: relative;
  width: 348px;
  transition: all 0.4s ease-in-out;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 4px 10px rgba(255, 200, 0, 0.12);
  overflow: hidden;
}

.flatform_RightSide_inner_content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30%;
  width: 40%;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(8, 218, 19, 0.856),
    rgba(101, 139, 10, 0.9),
    transparent
  );
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}

.flatform_RightSide_inner_content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 20%;
  width: 50%;
  height: 15px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(77, 134, 23, 0.3),
    rgba(35, 148, 7, 0.3),
    transparent
  );
  filter: blur(6px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

/* hover state */
.flatform_RightSide_inner_content:hover::before {
  width: 70%;
  left: 15%;
  opacity: 1;
}

.flatform_RightSide_inner_content:hover::after {
  width: 70%;
  left: 15%;
  opacity: 1;
}

.flatform_RightSide_inner_content:hover {
  box-shadow: inset 0 2px 6px rgba(72, 255, 0, 0.08);
}
/* trading performance records */
.trading_performance_record{
  max-width: 1080px;
  margin: auto;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 24px;
}

.trading_summary{
   width: 100%;
  max-width: 614px;
  height: 554px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 30px;
  padding: 56px 40px 40px;
  border-radius: 16px;
  color: aliceblue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 1px solid #332c2c;

}
.trading_summary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px; 
  border-radius: 16px 16px 0 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.resheduling_today{
  border-radius: 16px ;
  padding: 28px  16px 16px;
  border: 1px solid rgb(54, 50, 50);
  position: relative;
  width: 381px;
  height: 136px;
  z-index: 2;
  transform: translateY(-40px);
  margin: auto;
  transition: all 0.4s ease-in-out;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 4px 10px rgba(255, 200, 0, 0.12);
  overflow: hidden;
}
.flatform_trading_summary_inner_content{
  border-radius: 16px ;
  padding: 24px;
  border: 1px solid rgb(54, 50, 50);
  position: relative;
  width: 422px;
  background-color: #000;
  z-index: 3;
  height: 130px;
  transition: all 0.4s ease-in-out;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 4px 10px rgba(255, 200, 0, 0.12);
  overflow: hidden;
}

.flatform_trading_summary_inner_content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30%;
  z-index: 10;
  width: 40%;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(150, 42, 172, 0.9),
    rgba(190, 71, 194, 0.9),
    transparent
  );
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}

.flatform_trading_summary_inner_content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 20%;
  width: 50%;
  height: 12px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(138, 43, 175, 0.3),
    rgba(135, 31, 177, 0.3),
    transparent
  );
  filter: blur(6px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

/* hover state */
.flatform_trading_summary_inner_content:hover::before {
  width: 70%;
  left: 15%;
  opacity: 1;
}

.flatform_trading_summary_inner_content:hover::after {
  width: 70%;
  left: 15%;
  opacity: 1;
}

.flatform_trading_summary_inner_content:hover {
  box-shadow: inset 0 2px 6px rgba(197, 60, 197, 0.08);
}
.trading_summary_card{
  display: flex;
  flex-direction: column;
  gap: 16px;

}
.connected_brokerage{
   width: 100%;
  max-width: 438px;
  height: 570px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 30px;
  padding:  54px 40px 40px;
  border-radius: 16px;
  color: aliceblue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 1px solid #332c2c;

}
.connected_brokerage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px; 
  border-radius: 16px 16px 0 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

@media (max-width: 1200px) {
  .trading_performance_record{
  max-width: 90%;
  margin: auto;
  display: grid;
  gap: 24px;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 24px;
}
    .textContent_section p {
    max-width: 640px;
   
}
.textContent_section h1 {
    font-style: normal;
    max-width: 640px;
    
}
/****** trusted partner ******  */
.trading_trusted_partner{
    position: relative;
    width: 100%;
}
.trading_indexBgImg{
    width: 100%;
    max-width: 753px;
    margin: auto;
}
.trusted_partner_list{
     position: relative;
    top: 0%;
    left: 0%;
    right: 0%;
    margin-top: -22%;
}
/* platform */
.platform_cards{
  max-width: 1080px;
  margin: auto;
  display: grid;
  gap: 24px;
  align-items: center;
  justify-content: center;
  position: relative;
}
}
/* Media query for mobile devices */
@media (max-width: 810px) {
  .header_wrapper {
    display: flex;
    align-items: center;
    height: 72px;
    position: relative;
    z-index: 30;
  }

  .header_inner_content {
    width: 100%;
    max-width: 1080px;
  }
  .navbar_links {
    gap: 10px;
  }
  .navbar_links .navlink {
    font-size: 14px;
    line-height: 20px;
    padding: 13px 0px;
    width: 100%;
    transform: none;
    transform-origin: 50% 50% 0px;
  }

  .navbar_links .navlink:hover {
    color: #ffffff;
  }

  .joinBeta_btn button {
    color: #ffffff;
    width: 100%;
    padding: 0px 23px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 80px;
    opacity: 0.85;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    font-size: 15.7px;
  }

  .joinBeta_btn button:hover {
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.6);
    opacity: 1;
  }

  /* Mobile styles */
  .mobile-menu-button {
    cursor: pointer;
    z-index: 60;
    opacity: 0.6;
  }

  .joinBeta_btn_mobile {
    color: #ffffff;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 80px;
    opacity: 0.85;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    font-size: 14.4px;
    background: transparent;
  }

  .joinBeta_btn_mobile:hover {
    border: 1px solid rgba(255, 255, 255, 0.6);
    opacity: 1;
  }
  /* **********hero section ************** */
.hero_section_main {
  width: 100%;
  background-color: #000;
}
.textContent_section {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 40px;
  height: 500px;
  justify-content: center;
  overflow: visible;
  padding: 30px 20px 0px 20px;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;

}
.trusted_partner_list{
     position: relative;
    top: 0%;
    left: 0%;
    right: 0%;
    margin-top: -322px;
}
.textContent_section h1 {
    font-style: normal;
    max-width: 100%;
}
.textContent_section p {
    max-width: 700px;
}

.hero_joinBeta_btn button {
  color: #adadad;
  padding: 0px 15.5px;
  opacity: 0.6;
  height: 33.5px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  opacity: 0.85;
  font-weight: 500 !important;
  transition: all 0.4s ease-in-out;
  font-size: 14.4px;
}

.hero_joinBeta_btn button:hover {
 
}
/****** trusted partner ******  */
.trading_trusted_partner{
    position: relative;
    width: 100%;
}
.trading_indexBgImg{
   
    width: 100%;
    max-width: 355px;
    margin: auto;
}
/******** portforli0 *******/
.platform_header_content{
    gap: 24px;
    padding: 48px 24px;
    max-width: 1200px;  
    overflow: visible;
    
}
.platform_left_card{
 width: 100%;
  max-width: 90%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: auto;
  gap: 30px;
  padding: 32px 24px;
  border-radius: 16px;
  color: aliceblue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 1px solid #332c2c;
}
.flatform_inner_content{
  padding: 32px 24px 0px 24px;
  width: 100%;
  margin: auto;
  position: relative;
  transition: all 0.4s ease-in-out;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 4px 10px rgba(255, 200, 0, 0.12);
  overflow: hidden;
}
.flatform_RightSide_inner_content{
  padding: 24px 24px 0px 24px;
  width: 80vw;
  /* max-width: 600px; */
  margin: auto;
  position: relative;
  transition: all 0.4s ease-in-out;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 4px 10px rgba(255, 200, 0, 0.12);
  overflow: hidden;
}
.platform_right_card{
 width: 100%;
  max-width: 90%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: auto;
  gap: 30px;
  padding: 32px 24px;
  border-radius: 16px;
  color: aliceblue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 1px solid #332c2c;
}

}
